In [4]:
import pandas as pd
df = pd.read_csv("C:/Users/HP/OneDrive/Desktop/Data Analysis/gun dataset/gun.csv")
print(df)

        incident_id        date           state city_or_county  \
0            461105  2013-01-01    Pennsylvania     Mckeesport
1            460726  2013-01-01      California      Hawthorne
2            478855  2013-01-01            Ohio         Lorain
3            478925  2013-01-05        Colorado         Aurora
4            478959  2013-01-07  North Carolina     Greensboro
...             ...         ...             ...            ...
239672      1083142  2018-03-31       Louisiana          Rayne
239673      1083139  2018-03-31       Louisiana   Natchitoches
239674      1083151  2018-03-31       Louisiana         Gretna
239675      1082514  2018-03-31           Texas        Houston
239676      1081940  2018-03-31           Maine   Norridgewock

                                          address  n_killed  n_injured  \
0       1506 Versailles Avenue and Coursin Street         0          4
1                    13500 block of Cerise Avenue         1          3
2                           1776 East 28th Street         1          3
3                16000 block of East Ithaca Place         4          0
4                       307 Mourning Dove Terrace         2          2
...                                           ...       ...        ...
239672         North Riceland Road and Highway 90         0          0
239673                             247 Keyser Ave         1          0
239674                  1300 block of Cook Street         0          1
239675                     12630 Ashford Point Dr         1          0
239676                           434 Skowhegan Rd         2          0

                                             incident_url  \
0       http://www.gunviolencearchive.org/incident/461105
1       http://www.gunviolencearchive.org/incident/460726
2       http://www.gunviolencearchive.org/incident/478855
3       http://www.gunviolencearchive.org/incident/478925
4       http://www.gunviolencearchive.org/incident/478959
...                                                   ...
239672  http://www.gunviolencearchive.org/incident/108...
239673  http://www.gunviolencearchive.org/incident/108...
239674  http://www.gunviolencearchive.org/incident/108...
239675  http://www.gunviolencearchive.org/incident/108...
239676  http://www.gunviolencearchive.org/incident/108...

                                               source_url  \
0       http://www.post-gazette.com/local/south/2013/0...
1       http://www.dailybulletin.com/article/zz/201301...
2       http://chronicle.northcoastnow.com/2013/02/14/...
3       http://www.dailydemocrat.com/20130106/aurora-s...
4       http://www.journalnow.com/news/local/article_d...
...                                                   ...
239672  http://www.klfy.com/news/local/rayne-woman-cha...
239673  http://www.ksla.com/story/37854648/man-wanted-...
239674  http://www.nola.com/crime/index.ssf/2018/04/sh...
239675  https://www.chron.com/news/houston-texas/houst...
239676  https://www.centralmaine.com/2018/03/31/police...

        incident_url_fields_missing  ...                    participant_age  \
0                             False  ...                              0::20
1                             False  ...                              0::20
2                             False  ...  0::25||1::31||2::33||3::34||4::33
3                             False  ...         0::29||1::33||2::56||3::33
4                             False  ...         0::18||1::46||2::14||3::47
...                             ...  ...                                ...
239672                        False  ...                              0::25
239673                        False  ...                              1::21
239674                        False  ...                              0::21
239675                        False  ...                              0::42
239676                        False  ...                       0::58||1::62

                                    participant_age_group  \
0       0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
1       0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
2       0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
3       0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
4       0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...
...                                                   ...
239672                                       0::Adult 18+
239673                         0::Adult 18+||1::Adult 18+
239674                                       0::Adult 18+
239675                                       0::Adult 18+
239676                         0::Adult 18+||1::Adult 18+

                                 participant_gender  \
0              0::Male||1::Male||3::Male||4::Female
1                                           0::Male
2       0::Male||1::Male||2::Male||3::Male||4::Male
3              0::Female||1::Male||2::Male||3::Male
4            0::Female||1::Male||2::Male||3::Female
...                                             ...
239672                                    0::Female
239673                             0::Male||1::Male
239674                                      0::Male
239675                                      0::Male
239676                           0::Female||1::Male

                                         participant_name  \
0                                          0::Julian Sims
1                                       0::Bernard Gillis
2       0::Damien Bell||1::Desmen Noble||2::Herman Sea...
3       0::Stacie Philbrook||1::Christopher Ratliffe||...
4       0::Danielle Imani Jameison||1::Maurice Eugene ...
...                                                   ...
239672                                   0::Jhkeya Tezeno
239673     0::Jamal Haskett||1::Jaquarious Tyjuan Ardison
239674                                                NaN
239675                                     0::Leroy Ellis
239676           0::Marie Lancaster Hale||1::William Hale

                         participant_relationship  \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                       3::Family
...                                           ...
239672                                        NaN
239673                                        NaN
239674                                        NaN
239675                                        NaN
239676  1::Significant others - current or former

                                       participant_status  \
0       0::Arrested||1::Injured||2::Injured||3::Injure...
1           0::Killed||1::Injured||2::Injured||3::Injured
2       0::Injured, Unharmed, Arrested||1::Unharmed, A...
3              0::Killed||1::Killed||2::Killed||3::Killed
4            0::Injured||1::Injured||2::Killed||3::Killed
...                                                   ...
239672                              0::Unharmed, Arrested
239673                   0::Killed||1::Unharmed, Arrested
239674                                         0::Injured
239675                                          0::Killed
239676                               0::Killed||1::Killed

                                         participant_type  \
0       0::Victim||1::Victim||2::Victim||3::Victim||4:...
1       0::Victim||1::Victim||2::Victim||3::Victim||4:...
2       0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3       0::Victim||1::Victim||2::Victim||3::Subject-Su...
4       0::Victim||1::Victim||2::Victim||3::Subject-Su...
...                                                   ...
239672                                 0::Subject-Suspect
239673                      0::Victim||1::Subject-Suspect
239674                                          0::Victim
239675                                          0::Victim
239676                      0::Victim||1::Subject-Suspect

                                                  sources  \
0       http://pittsburgh.cbslocal.com/2013/01/01/4-pe...
1       http://losangeles.cbslocal.com/2013/01/01/man-...
2       http://www.morningjournal.com/general-news/201...
3       http://denver.cbslocal.com/2013/01/06/officer-...
4       http://myfox8.com/2013/01/08/update-mother-sho...
...                                                   ...
239672  http://www.klfy.com/news/local/rayne-woman-cha...
239673  http://www.ksla.com/story/37854648/man-wanted-...
239674  http://www.nola.com/crime/index.ssf/2018/04/sh...
239675  http://www.khou.com/article/news/hpd-investiga...
239676  https://www.centralmaine.com/2018/03/31/police...

       state_house_district state_senate_district
0                       NaN                   NaN
1                      62.0                  35.0
2                      56.0                  13.0
3                      40.0                  28.0
4                      62.0                  27.0
...                     ...                   ...
239672                  NaN                   NaN
239673                 23.0                  31.0
239674                 85.0                   7.0
239675                149.0                  17.0
239676                111.0                   3.0

[239677 rows x 29 columns]

In [5]:
df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [56]:
df.tail()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district,total_victim
239672,1083142,2018-03-31,Louisiana,Rayne,North Riceland Road and Highway 90,0,0,http://www.gunviolencearchive.org/incident/108...,http://www.klfy.com/news/local/rayne-woman-cha...,False,...,0::Adult 18+,0::Female,0::Jhkeya Tezeno,NaN,"0::Unharmed, Arrested",0::Subject-Suspect,http://www.klfy.com/news/local/rayne-woman-cha...,NaN,NaN,0
239673,1083139,2018-03-31,Louisiana,Natchitoches,247 Keyser Ave,1,0,http://www.gunviolencearchive.org/incident/108...,http://www.ksla.com/story/37854648/man-wanted-...,False,...,0::Adult 18+||1::Adult 18+,0::Male||1::Male,0::Jamal Haskett||1::Jaquarious Tyjuan Ardison,NaN,"0::Killed||1::Unharmed, Arrested",0::Victim||1::Subject-Suspect,http://www.ksla.com/story/37854648/man-wanted-...,23.0,31.0,1
239674,1083151,2018-03-31,Louisiana,Gretna,1300 block of Cook Street,0,1,http://www.gunviolencearchive.org/incident/108...,http://www.nola.com/crime/index.ssf/2018/04/sh...,False,...,0::Adult 18+,0::Male,NaN,NaN,0::Injured,0::Victim,http://www.nola.com/crime/index.ssf/2018/04/sh...,85.0,7.0,1
239675,1082514,2018-03-31,Texas,Houston,12630 Ashford Point Dr,1,0,http://www.gunviolencearchive.org/incident/108...,https://www.chron.com/news/houston-texas/houst...,False,...,0::Adult 18+,0::Male,0::Leroy Ellis,NaN,0::Killed,0::Victim,http://www.khou.com/article/news/hpd-investiga...,149.0,17.0,1
239676,1081940,2018-03-31,Maine,Norridgewock,434 Skowhegan Rd,2,0,http://www.gunviolencearchive.org/incident/108...,https://www.centralmaine.com/2018/03/31/police...,False,...,0::Adult 18+||1::Adult 18+,0::Female||1::Male,0::Marie Lancaster Hale||1::William Hale,1::Significant others - current or former,0::Killed||1::Killed,0::Victim||1::Subject-Suspect,https://www.centralmaine.com/2018/03/31/police...,111.0,3.0,2

In [29]:
df[['date','state','n_killed','n_injured']].head()

         date           state  n_killed  n_injured
0  2013-01-01    Pennsylvania         0          4
1  2013-01-01      California         1          3
2  2013-01-01            Ohio         1          3
3  2013-01-05        Colorado         4          0
4  2013-01-07  North Carolina         2          2

In [28]:
x = df[['date','state','n_killed','n_injured']]
x['year'] = pd.to_datetime(df['date']).dt.year
x['month'] = pd.to_datetime(df['date']).dt.month
x['day'] = pd.to_datetime(df['date']).dt.day
x['day_of_week'] = pd.to_datetime(df['date']).dt.dayofweek
x['total_victim'] = x['n_killed'] + x['n_injured']
x.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_13640\2322935253.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['year'] = pd.to_datetime(df['date']).dt.year
C:\Users\HP\AppData\Local\Temp\ipykernel_13640\2322935253.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['month'] = pd.to_datetime(df['date']).dt.month
C:\Users\HP\AppData\Local\Temp\ipykernel_13640\2322935253.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['day'] = pd.to_datetime(df['date']).dt.day
C:\Users\HP\AppData\Local\Temp\ipykernel_13640\2322935253.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['day_of_week'] = pd.to_datetime(df['date']).dt.dayofweek
C:\Users\HP\AppData\Local\Temp\ipykernel_13640\2322935253.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['total_victim'] = x['n_killed'] + x['n_injured']

,date,state,n_killed,n_injured,year,month,day,day_of_week,total_victim
0,2013-01-01,Pennsylvania,0,4,2013,1,1,1,4
1,2013-01-01,California,1,3,2013,1,1,1,4
2,2013-01-01,Ohio,1,3,2013,1,1,1,4
3,2013-01-05,Colorado,4,0,2013,1,5,5,4
4,2013-01-07,North Carolina,2,2,2013,1,7,0,4

In [34]:
# on a particular date, how many person killed?
df[df['date'] == '2013-01-01']['n_killed'].sum()

2

In [35]:
# on a particular date, how many person injured?
df[df['date'] == '2013-01-01']['n_injured'].sum()

10

In [40]:
# for each date, how many person killed & injured?
df.groupby('date')[['n_killed','n_injured']].sum()

            n_killed  n_injured
date
2013-01-01         2         10
2013-01-05         4          0
2013-01-07         6          2
2013-01-19         5          0
2013-01-21         0          9
...              ...        ...
2018-03-27        18         57
2018-03-28        42         69
2018-03-29        33         69
2018-03-30        41         49
2018-03-31        53         75

[1725 rows x 2 columns]

In [44]:
df.groupby(x['year'])[['n_killed','n_injured']].sum()
# grouping the data according to the categories and applying a function to the categories.

      n_killed  n_injured
year
2013       317        979
2014     12557      23002
2015     13484      26967
2016     15066      30580
2017     15511      30703
2018      3533       6171

In [45]:
df['state'].unique()
# To retrieve unique values from a column in a Pandas DataFrame, use the unique() method.

array(['Pennsylvania', 'California', 'Ohio', 'Colorado', 'North Carolina',
       'Oklahoma', 'New Mexico', 'Louisiana', 'Maryland', 'Tennessee',
       'Missouri', 'District of Columbia', 'Illinois', 'Delaware', 'Utah',
       'Michigan', 'Georgia', 'Indiana', 'Mississippi', 'New York',
       'Florida', 'Washington', 'South Carolina', 'Arizona', 'Kentucky',
       'New Jersey', 'Virginia', 'Wisconsin', 'Rhode Island', 'Texas',
       'Alabama', 'Kansas', 'Connecticut', 'West Virginia', 'Minnesota',
       'Nevada', 'Nebraska', 'Massachusetts', 'Hawaii', 'New Hampshire',
       'Iowa', 'Alaska', 'Arkansas', 'Idaho', 'Oregon', 'Wyoming',
       'Maine', 'North Dakota', 'Montana', 'Vermont', 'South Dakota'],
      dtype=object)

In [46]:
df['state'].unique().shape[0]

51

In [53]:
df['state_house_district'].count()
# count() counts only non-null (valid) values, excluding NaN values.

200905

In [55]:
df['state_house_district'].size
# size() counts all elements, including NaN values.

239677